@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --color-foreground: var(--color-zinc-900);
  --color-background: var(--color-white);
  --font-stretch: 105%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: var(--color-zinc-100);
    --color-background: var(--color-zinc-900);
    --color-background: #18181f;
  }
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --tracking-semi-wide: 0.035em;
  --font-mono:
    "JetBrainsMono", ui-monospace, SFMono-Regular, "SF Mono", Consolas,
    "Liberation Mono", Menlo, monospace;
}

/* override prose styles to inherit colors  */
.prose {
  --tw-prose-body: inherit;
  --tw-prose-headings: inherit;
  --tw-prose-lead: inherit;
  --tw-prose-links: inherit;
  --tw-prose-bold: inherit;
  --tw-prose-counters: inherit;
  --tw-prose-bullets: inherit;
  --tw-prose-quotes: inherit;
  --tw-prose-quote-borders: inherit;
  --tw-prose-captions: inherit;
  --tw-prose-code: inherit;
  --tw-prose-pre-code: inherit;
  --tw-prose-pre-bg: inherit;
  --tw-prose-th-borders: inherit;
  --tw-prose-td-borders: inherit;

  :where(code):not(
      :where([class~="not-prose"], [class~="not-prose"] *)
    )::before,
  :where(code):not(
      :where([class~="not-prose"], [class~="not-prose"] *)
    )::after {
    content: "";
  }
}

html {
  color-scheme: light dark;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-stretch: var(--font-stretch);
  transition:
    background-color 0.2s,
    color 0.2s;
  max-width: 1024px;
  margin: 0 auto;
  min-height: 100vh;
}

.astro-code {
  border: 1px solid #e5e7eb;
  font-size: var(--text-sm);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--tracking-normal);
}

.astro-code,
.astro-code span {
  background-color: #f6f7f9 !important;
}

@media (prefers-color-scheme: dark) {
  .astro-code {
    border: 1px solid #334155;
  }
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}
