@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --color-foreground: var(--color-zinc-900);
  --color-background: var(--color-zinc-50);
  --font-stretch: 105%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: var(--color-zinc-100);
    --color-background: var(--color-zinc-900);
  }
}

/* override prose styles to inherit colors  */
.prose {
  --tw-prose-body: inherit;
  --tw-prose-headings: inherit;
  --tw-prose-lead: inherit;
  --tw-prose-links: inherit;
  --tw-prose-bold: inherit;
  --tw-prose-counters: inherit;
  --tw-prose-bullets: inherit;
  --tw-prose-quotes: inherit;
  --tw-prose-quote-borders: inherit;
  --tw-prose-captions: inherit;
  --tw-prose-code: inherit;
  --tw-prose-pre-code: inherit;
  --tw-prose-pre-bg: inherit;
  --tw-prose-th-borders: inherit;
  --tw-prose-td-borders: inherit;
}

@theme {
  --tracking-semi-wide: 0.035em;
}

html {
  color-scheme: light dark;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-stretch: var(--font-stretch);
  transition:
    background-color 0.2s,
    color 0.2s;
}
