---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { getEntry, render } from 'astro:content';

const homeEntry = await getEntry('pages', 'home');
const { Content } = await render(homeEntry);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>{homeEntry.data.title}</h1>
      <Content />
    </main>
    <Footer />
  </body>
</html>
