---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");

const baseClasses =
  "sm:text-lg inline-block py-1 px-2 mx-2 border-b-2 no-underline tracking-[0.1em]";
const activeClasses = isActive
  ? "border-black dark:border-white font-bold dark:font-normal"
  : "dark:font-thin border-transparent";
---

<a
  href={href}
  class={`${baseClasses} ${activeClasses} ${className || ""}`}
  {...props}
>
  <slot />
</a>
